body {
    background: #03191F;
    background-color: #03191F;
}

.reveal {
    color: #EADECE;
}

::selection {
    background: #C97E17;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    margin: 0 0 20px 0;
    color: #d6881e;
}

.reveal a,
.reveal a:hover {
    color: #E8B165;
    text-decoration: underline;
}

.reveal section img {
    border: 4px solid #CFC5B5;
    background: none;
}

.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
    border-right-color: #995B0F;
}

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
    border-left-color: #995B0F;
}

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
    border-bottom-color: #995B0F;
}

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
    border-top-color: #995B0F;
}

.reveal .controls .navigate-left.enabled:hover {
    border-right-color: #d6881e;
}

.reveal .controls .navigate-right.enabled:hover {
    border-left-color: #d6881e;
}

.reveal .controls .navigate-up.enabled:hover {
    border-bottom-color: #d6881e;
}

.reveal .controls .navigate-down.enabled:hover {
    border-top-color: #d6881e;
}

.reveal .progress span {
    background: #d6881e;
}

.small-annotation {
    position: absolute;
    color: #DCB481;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.reveal .slides section .fragment.highlight-red.visible {
    color: #d6881e;
}

table.centered-table th {
    vertical-align: middle;
}

table.centered-table td,
table.centered-table th {
    text-align: center;
    border: 0;
}

table.centered-table td:first-child,
table.centered-table th:first-child {
    border-right: 1px #E8B165 solid;
}

table.centered-table tr {
    border-bottom: 1px #E8B165 solid;
}

table.centered-table tr:last-child {
    border-bottom: 0;
}

div.bubble {
    background: #FFF;
    border-radius: 30px;
    display: block;
    height: 51px;
    padding: 20px;
    width: 189px;
    color: #000;
    position: absolute;
}

div.bubble-corner {
    width: 0;
    position: absolute;
    height: 0;
    border-style: solid;
    border-width: 0 39px 28px 0;
    border-color: transparent #fff transparent transparent;
    top: 17px;
    left: -32px;
}

div.image-source {
    font-size: 0.35em;
    position: relative;
    top: -21px;
}

div.orange-box {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#522a1d+0,7c3f2c+100 */
    background: rgb(82,42,29); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(82,42,29,1) 0%, rgba(124,63,44,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(82,42,29,1) 0%,rgba(124,63,44,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(82,42,29,1) 0%,rgba(124,63,44,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#522a1d', endColorstr='#7c3f2c',GradientType=0 ); /* IE6-9 */
    border-radius: 10px;
    border: 2px solid #424242;
}

div.green-box {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2e3d13+0,40541a+100 */
    background: rgb(46,61,19); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(46,61,19,1) 0%, rgba(64,84,26,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(46,61,19,1) 0%,rgba(64,84,26,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(46,61,19,1) 0%,rgba(64,84,26,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e3d13', endColorstr='#40541a',GradientType=0 ); /* IE6-9 */
    border-radius: 10px;
    border: 2px solid #424242;
}

div.blue-box {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#123b63+0,17487a+100 */
    background: rgb(18,59,99); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(18,59,99,1) 0%, rgba(23,72,122,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(18,59,99,1) 0%,rgba(23,72,122,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(18,59,99,1) 0%,rgba(23,72,122,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#123b63', endColorstr='#17487a',GradientType=0 ); /* IE6-9 */
    border-radius: 10px;
    border: 2px solid #424242;
}